<a href="https://colab.research.google.com/github/navilindo/IUA/blob/main/nmt_feb_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np 
import string

In [3]:
# using pandas to reas and open data
df1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/nlp-data/short/arabic_english.txt",delimiter="\t",names=["eng","ar"])
df1

                                                     eng                                                 ar
0                                                    Hi.                                            مرحبًا.
1                                                   Run!                                              اركض!
2                                                  Help!                                            النجدة!
3                                                  Jump!                                              اقفز!
4                                                  Stop!                                                قف!
...                                                  ...                                                ...
24633  rising voices promoting a more linguistically ...  شاركنا تحدي ابداع ميم بلغتك الام تعزيزا للتنوع...
24634  following last year s successful campaign we i...  استكمالا لنجاح حملة العام السابق ندعوكم للمشار...
24635  during last year s challenge we also met langu...  تعرفنا خلال تحدي العام الماضي على ابطال لغويين...
24636  to take part just follow the simple steps outl...  للمشاركة في التحدي اتبع الخطوات الموضحة على ال...
24637  you will also find links to some free web base...  ستجد ايضا روابط لمجموعة من منصات ابداع الميم ا...

[24638 rows x 2 columns]

In [4]:
arabic = df1['ar']
arabic

0                                                  مرحبًا.
1                                                    اركض!
2                                                  النجدة!
3                                                    اقفز!
4                                                      قف!
                               ...
24633    شاركنا تحدي ابداع ميم بلغتك الام تعزيزا للتنوع...
24634    استكمالا لنجاح حملة العام السابق ندعوكم للمشار...
24635    تعرفنا خلال تحدي العام الماضي على ابطال لغويين...
24636    للمشاركة في التحدي اتبع الخطوات الموضحة على ال...
24637    ستجد ايضا روابط لمجموعة من منصات ابداع الميم ا...
Name: ar, Length: 24638, dtype: object

In [5]:
english = df1['eng']
english

0                                                      Hi.
1                                                     Run!
2                                                    Help!
3                                                    Jump!
4                                                    Stop!
                               ...
24633    rising voices promoting a more linguistically ...
24634    following last year s successful campaign we i...
24635    during last year s challenge we also met langu...
24636    to take part just follow the simple steps outl...
24637    you will also find links to some free web base...
Name: eng, Length: 24638, dtype: object

In [9]:
df1.shape

(24638, 2)